<div class="tag-list">
  {%- if post -%}
    {%- assign has_tags = post -%}
  {%- elsif page -%}
    {%- assign has_tags = page -%}
  {%- endif -%}
  {%- for tag in has_tags.tags -%}
    {%- assign category = has_tags.category[0] | downcase -%}
    {%- if tag == '日本語' -%}
      <a href={{ site.baseurl }}/{{ category }}/tags/japanese>{{ tag }}</a>
    {%- elsif tag == '★★★★★' -%}
      <a href={{ site.baseurl }}/{{ category }}/tags/five-stars>{{ tag }}</a>
    {%- elsif tag == '★★★★☆' -%}
      <a href={{ site.baseurl }}/{{ category }}/tags/four-stars>{{ tag }}</a>
    {%- else -%}
      {%- assign tag_link = tag | replace: ' ', '-' | replace: '&', 'and' | downcase -%}
      <a href={{ site.baseurl }}/{{ category }}/tags/{{ tag_link }}>{{ tag }}</a>
    {%- endif -%}
  {%- endfor -%}
</div>